$font-stack:    Helvetica, sans-serif;
$yellow: #FFE600;
$black: #333333;
$gray_black: #666666;
$gray: #999999;
$lightgray: #EEEEEE;
$blue: #3483FA;

body {
  margin:0;
  background: $lightgray;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}
